<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3/dist/flatly/bootstrap.min.css" rel="stylesheet">
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link href="{% static 'images/favicon.ico' %}" rel="shortcut icon" type="image/x-icon">
    <title>HA Entity Renamer</title>
</head>
<body>
    <script 
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.3.0/js/bootstrap.bundle.min.js">
		crossorigin="anonymous">
	</script>

    {% include 'renamer/navigation.html' %}

    {% block content %}
	{% endblock content %}	
</body>
</html>
